<nav class="desktop-nav">
  <div class="logo" [routerLink]="['/']">
    <h1>{{ appTitle }}</h1>
  </div>
  <div class="nav-links">
    <a [routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">{{ translations.ui.home }}</a>
    <a [routerLink]="['/study']" [routerLinkActive]="'active'">{{ translations.ui.study }}</a>
    <a [routerLink]="['/progress']" [routerLinkActive]="'active'">{{ translations.ui.progress }}</a>
    <a [routerLink]="['/settings']" [routerLinkActive]="'active'">{{ translations.ui.settings }}</a>
  </div>
</nav>
